<div class="row">
  <div class="col-12 col-xl-8">
    <div class="card card-body border-0 shadow mb-4"><h2 class="h5 mb-4">Daire A Blok No:2</h2>

        <div class="row">
          <div class="col-md-6 mb-3">
            <div><label for="first_name">Kat Maliki</label>
              <a href="#" class="d-flex align-items-center">
                <div class="avatar d-flex align-items-center justify-content-center fw-bold rounded bg-secondary me-3">
                  <span>YK</span></div>
                <div class="d-block"><span class="fw-bold">Yılmaz KARACA</span>
                  <div class="small text-gray">100 TL Borçlu</div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div><label for="last_name">Kiracı</label>
              <a href="#" class="d-flex align-items-center">
                <div class="avatar d-flex align-items-center justify-content-center  fw-bold rounded bg-danger me-3">
                  <span style="color: floralwhite">DK</span></div>
                <div class="d-block"><span class="fw-bold">Defne KARACA</span>
                  <div class="small text-gray">150 TL Borçlu</div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-md-4 mb-2"><label for="birthday">Tipi</label>
            <div class="input-group">
              Daire
            </div>
          </div>
          <div class="col-md-4 mb-2"><label for="gender">Brüt (m2)</label>
            <div class="input-group">
              133 m2
            </div>
          </div>
          <div class="col-md-4 mb-2"><label for="gender">Net (m2)</label>
            <div class="input-group">
              120 m2
            </div>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-md-4 mb-2"><label for="birthday">Arsa Payı</label>
            <div class="input-group">
              120
            </div>
          </div>
          <div class="col-md-4 mb-2"><label for="gender">Park Sayısı</label>
            <div class="input-group">
              1
            </div>
          </div>
          <div class="col-md-4 mb-2"><label for="gender">Petek Sayısı</label>
            <div class="input-group">
              7
            </div>
          </div>
        </div>


    </div>

      <div class="col-12 mb-4">
        <div class="card border-0 shadow">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col"><h2 class="fs-5 fw-bold mb-0">Eski Hesaplar</h2></div>
              <div class="col text-end"><a href="#" class="btn btn-sm btn-primary">Rapor</a>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
              <tr>
                <th class="border-bottom" scope="col">Hesap Adı</th>
                <th class="border-bottom" scope="col">Giriş</th>
                <th class="border-bottom" scope="col">Çıkış</th>
                <th class="border-bottom" scope="col">Tip</th>
                <th class="border-bottom" scope="col">Bakiye</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th class="text-gray-900" scope="row">Adem Üçüncü</th>
                <td class="fw-bolder text-gray-500">12.01.2018</td>
                <td class="fw-bolder text-gray-500">24.07.2021</td>
                <td class="fw-bolder text-gray-500">Kiracı</td>
                <td class="fw-bolder text-gray-500">
                  <div class="d-flex">
                    <svg class="icon icon-xs text-danger me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M5.293 7.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L6.707 7.707a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
                    </svg>
                   150 TL Borç
                  </div>
                </td>
              </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>

  </div>
  <div class="col-12 col-xl-4">
    <div class="row">

      <div class="col-12 col-sm-6 col-xl-12">
        <div class="card card-body border-0 shadow mb-4"><h2 class="h5 mb-4">Bakiye</h2>

        </div>
      </div>
    </div>
  </div>
</div>