
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
  <div class="d-block mb-4 mb-md-0">

    <h2 class="h4">Kasalar</h2>
  </div>
  <div class="btn-toolbar mb-2 mb-md-0"><a href="/kisilers/new" class="btn btn-sm btn-gray-800 d-inline-flex align-items-center">
    <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
    </svg>
    Kasa Ekle</a>
    <div class="btn-group ms-2 ms-lg-3">

      <a href="#" class="btn btn-sm btn-gray-800 d-inline-flex align-items-center">
        <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
        </svg>
        Banka Ekle</a>
    </div>
  </div>
</div>

<div class="card card-body shadow border-0 table-wrapper table-responsive">

  <table class="table user-table table-hover align-items-center">
    <thead>
    <tr>

      <th class="border-bottom">Kasa Adı</th>
      <th class="border-bottom">Bakiye</th>

    </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <span class="fw-normal text-success">Nakit Kasası</span>
          <div class="small text-gray"></div>

        </td>

        <td><span class="fw-normal text-danger">-100 TL</span></td>


      </tr>

    </tbody>
  </table>

</div>

eksikler<br>

<lu>
  <li>hesaplar gözükmeli</li>

  <li>Üzerine tıklayınca kartına gitmeli</li>
</lu>