
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
  <div class="d-block mb-4 mb-md-0">

    <h2 class="h4">Giderler</h2>
  </div>
  <div class="btn-toolbar mb-2 mb-md-0"><a href="/kisilers/new" class="btn btn-sm btn-gray-800 d-inline-flex align-items-center">
    <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
    </svg>
    Gider Ekle</a>

  </div>
</div>

<div class="card card-body shadow border-0 table-wrapper table-responsive">

  <table class="table user-table table-hover align-items-center">
    <thead>
    <tr>

      <th class="border-bottom">Açıklama</th>
      <th class="border-bottom">Kategori</th>
      <th class="border-bottom">Düzenleme</th>
      <th class="border-bottom">Ödeme</th>
      <th class="border-bottom">Toplam</th>
      <th class="border-bottom">Kalan</th>

    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <span class="fw-normal text-success"></span>
        <div class="small text-gray"></div>

      </td>

      <td><span class="fw-normal text-danger"></span></td>
      <td><span class="fw-normal text-danger"></span></td>
      <td><span class="fw-normal text-danger"></span></td>
      <td><span class="fw-normal text-danger"></span></td>
      <td><span class="fw-normal text-danger"></span></td>


    </tr>

    </tbody>
  </table>

</div>

eksikler<br>

<lu>
  <li>hesaplar gözükmeli</li>


</lu>