
<div class="row">
  <div class="col-12 col-xl-8">
    <div class="card card-body border-0 shadow mb-4"><h2 class="h5 mb-4"><%= @kisi.adsoyad %></h2>

      <div class="row">
        <div class="col-md-6 mb-3">
          <div><label for="first_name">Kat Maliki</label>
            <a href="#" class="d-flex align-items-center">

              <div class="d-block"><span class="fw-bold">A Blok No:02</span>
                <div class="small text-gray">100 TL Borçlu</div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <div><label for="last_name">Kiracı</label>
            <a href="#" class="d-flex align-items-center">
              <div class="avatar d-flex align-items-center justify-content-center  fw-bold rounded bg-danger me-3">
                <span style="color: floralwhite">-</span></div>
              <!--
              <div class="d-block"><span class="fw-bold">A Blok No:05</span>
                <div class="small text-gray">150 TL Borçlu</div>
              </div>
              -->

            </a>
          </div>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-md-4 mb-2"><label for="birthday">Telefon</label>
          <div class="input-group">
            <%= @kisi.telefon %>
          </div>
        </div>
        <div class="col-md-4 mb-2"><label for="gender">Giriş Tarihi</label>
          <div class="input-group">

          </div>
        </div>
        <div class="col-md-4 mb-2"><label for="gender">Çıkış Tarihi</label>
          <div class="input-group">

          </div>
        </div>
      </div>
<!--
      <div class="row align-items-center">
        <div class="col-md-4 mb-2"><label for="birthday">Arsa Payı</label>
          <div class="input-group">
            Daire
          </div>
        </div>
        <div class="col-md-4 mb-2"><label for="gender">Park Sayısı</label>
          <div class="input-group">
            1
          </div>
        </div>
        <div class="col-md-4 mb-2"><label for="gender">Petek Sayısı</label>
          <div class="input-group">
            7
          </div>
        </div>
      </div>
-->

    </div>

    <div class="col-12 mb-4">
      <div class="card border-0 shadow">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col"><h2 class="fs-5 fw-bold mb-0">Hesap Hareketleri</h2></div>
            <div class="col text-end"><a href="#" class="btn btn-sm btn-primary">Rapor</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr>
              <th class="border-bottom" scope="col">İşlem</th>
              <th class="border-bottom" scope="col">Tarih</th>
              <th class="border-bottom" scope="col">Açıklama</th>
              <th class="border-bottom" scope="col"></th>
              <th class="border-bottom" scope="col">Tutar</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th class="text-gray-900" scope="row">Borçlandırma</th>
              <td class="fw-bolder text-gray-500">12.01.2018</td>
              <td class="fw-bolder text-gray-500">Nisan ayı aidat</td>
              <td class="fw-bolder text-gray-500"></td>
              <td class="fw-bolder text-gray-500">
                <div class="d-flex">
                  <svg class="icon icon-xs text-danger me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M5.293 7.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L6.707 7.707a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
                  </svg>
                  150 TL Borç
                </div>
              </td>
            </tr>
            <tr>
              <th class="text-gray-900" scope="row">Tahsilat</th>
              <td class="fw-bolder text-gray-500">31.01.2018</td>
              <td class="fw-bolder text-gray-500">Nisan ayı aidat ödemesi</td>
              <td class="fw-bolder text-gray-500">Banka hesabına</td>
              <td class="fw-bolder text-gray-500">
                <div class="d-flex">
                  <svg class="icon icon-xs text-danger me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M5.293 7.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L6.707 7.707a1 1 0 01-1.414 0z" clip-rule="evenodd">

                    </path>
                  </svg>
                  150 TL
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
  <div class="col-12 col-xl-4">
    <div class="row">

      <div class="col-12 col-sm-6 col-xl-12">
        <div class="card card-body border-0 shadow mb-4"><h2 class="h5 mb-4">Bakiye</h2>

        </div>
      </div>
    </div>
  </div>
</div>